{% extends 'base.html' %}

{% block content %}
    <div align="center">
        <h1>Login to submit your images</h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
                <input type="submit" value="Log in" class="btn btn-success"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        <p>Forgot your password? <a href="{% url 'auth_password_reset' %}">Reset it</a>.</p>
        <p>Need an account? <a href="{% url 'registration_register' %}">Register</a>.</p>
    </div>
{% endblock %}