{% extends 'base.html' %}

{% block title %}Check calibration{% endblock %}

{% block content %}

    <h1>Check calibration output for {{ file.fits_filename }}</h1>

    <button type="button" class="btn btn-default btn-med pull-right" data-toggle="modal" data-target="#helpmodal">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Get Help
    </button>

    <br/>

    {% load staticfiles %}

    {% if success == True or success == 'warning' %}

        <img src="{{ PLOTS_URL }}/{{ file.fits_filename }}.png?invalidate-cache={% now 'U' %}" width="800px">

        <br/>
        <br/>

        {% if success == 'warning' %}
            <p>Warning! {{ reason }}</p>
        {% endif %}

        <form action="{% url 'process_calibration' file.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="correct" value="true">
            <input type="submit" value="Calibration graphs appear correct" class="btn btn-success">
        </form>

    {% endif %}
    <br/>

    {% if success == False %}
        <p>The calibration was not successful. {{ reason }}</p>
    {% endif %}

    <form action="{% url 'process_calibration_retry' file.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Retry calibration with above values" class="btn btn-primary">
    </form>

    <br/>

    <form action="{% url 'process_reprocess' file.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="reprocess" value="true">
        <input type="submit" value="Reprocess file" class="btn btn-danger">
    </form>

    <br/>

    <form action="{% url 'process_calibration' file.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="incorrect" value="true">
        <input type="submit" value="Calibration graphs appear incorrect/do not exist, delete file"
               class="btn btn-danger">
    </form>

    <div class="modal fade" id="helpmodal" tabindex="-1" role="dialog" aria-labelledby="helpmodal-label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pull-left" id="helpmodal-label">Help Video</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/onucLAcnhvg"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}