{% extends 'base.html' %}

{% block title %}My profile{% endblock %}

{% block content %}

    {% load time %}

    <h1>My Profile</h1>

    <h2>Devices</h2>

    {% if devices|length > 0 %}
        <table class="table table-striped">
            <tr><th>Name</th><th>Scale</th><th>Date Card</th><th>Time Card</th><th>Filter Card</th><th>Exposure Time Card</th><th>Date Format</th></tr>
        {% for device in devices %}
            <tr><td><a href="{% url 'modify_device' device.id %}">{{ device.name }}</a></td><td>{{ device.scale }}</td><td>{{ device.date_card }}</td><td>{{ device.time_card }}</td><td>{{ device.filter_card }}</td><td>{{ device.exptime_card }}</td><td>{{ device.date_format }}</td></tr>
        {% endfor %}
        </table>
        <p><a href="{% url 'add_device' %}">Add another device?</a></p>
        {% else %}
            <p>You have no devices. <a href="{% url 'add_device' %}">Add one?</a></p>
        {% endif %}

    <h2>Processed files</h2>
        {% if processed_files|length > 0 %}
            <table class="table table-striped">
                <tr><th>Name</th><th>Current Status</th><th>Uploaded Time</th></tr>
                {% for file in processed_files %}
                <tr><td>{{ file.fits_filename }}</td><td>{{ file.process_status }}</td><td>{{ file.upload_time|timestamp_to_human }}</td></tr>
                {% endfor %}
            </table>
        {% else %}
            <p>You've not finished processing any files yet. <a href="{% url 'process' %}">Process some?</a></p>
        {% endif %}


    <div class="pagination">
    <span class="step-links">
        {% if processed_files.has_previous %}
            <a href="?page={{ processed_files.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ processed_files.number }} of {{ processed_files.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ processed_files.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}