{% extends 'base.html' %}

{% block title %}Manage all user uploads{% endblock %}

{% block content %}

    {% load time %}
    {% load query_transform %}

    <h1>All files and their current status</h1>

    <table class="table table-striped">
        <tr>
            <th>Name <a href="{% query_transform request sortby='name' %}">&uarr;</a> <a
                    href="{% query_transform request sortby='name_rev' %}">&darr;</a></th>
            <th>Uploaded By <a href="{% query_transform request sortby='uploaded_by' %}">&uarr;</a> <a
                    href="{% query_transform request sortby='uploaded_by_rev' %}">&darr;</a>
                <form action="" method="GET" class="filterform">{{ choose_user_form.as_p }} <input type="submit"
                                                                                                   value="&rarr;">
                </form>
            </th>
            <th>Current Status <a href="{% query_transform request sortby='current_status' %}">&uarr;</a> <a
                    href="{% query_transform request sortby='current_status_rev' %}">&darr;</a>
                <form action="" method="GET" class="filterform">{{ choose_status_form.as_p }} <input type="submit"
                                                                                                     value="&rarr;">
            </th>
            <th>Uploaded Time <a href="{% query_transform request sortby='time' %}">&uarr;</a> <a
                    href="{% query_transform request sortby='time_rev' %}">&darr;</a></th>
            <th>Action</th>
        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file.fits_filename }}</td>
                <td>{{ file.uploaded_by.username }}</td>
                <td>{{ file.process_status }}</td>
                <td>{{ file.upload_time|timestamp_to_human }}</td>
                <td>
                    <a href="javascript:reprocessConfirm('{% url 'process_reprocess' file.id %}','{{ file.fits_filename }}');"
                       class="btn btn-danger">Reprocess</a><a
                        href="javascript:delConfirm('{% url 'delete_file' file.id %}','{{ file.fits_filename }}');"
                        class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <p>Status explanation</p>
    <ul>
        <li>UPLOADED: The user has just uploaded this file</li>
        <li>DEVICESETUP: The user is setting up the header cards for their device using this file</li>
        <li>METADATA: User has verified the header</li>
        <li>OBSERVATION: User has added observation details</li>
        <li>CHECK_ASTROMETRY: User is checking whether astrometry was successful</li>
        <li>ASTROMETRY: Astrometry was successful</li>
        <li>CHECK_CALIBRATION: User is checking whether calibration was successful</li>
        <li>COMPLETE: All analysis stages complete</li>
        <li>FAILED: Processing failed during execution</li>
        <li>FAILED_USER: Processing failed because user said it wasn't successful</li>
    </ul>

    <div class="pagination">
    <span class="step-links">
        {% if files.has_previous %}
            <a href="{% query_transform request page=files.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ files.number }} of {{ files.paginator.num_pages }}.
        </span>

        {% if files.has_next %}
            <a href="{% query_transform request page=files.next_page_number %}">next</a>
        {% endif %}
    </span>
    </div>

    <script>

        function delConfirm(url, filename) {
            if (confirm('You are about to delete ' + filename + ', are you sure?')) {
                $.post(url);
                location.reload();
            }
        }

        function reprocessConfirm(url, filename) {
            if (confirm('You are about to reprocess ' + filename + ', are you sure?')) {
                $.post(url);
                location.reload();
            }
        }

        /**
         * From https://www.raymondcamden.com/2013/12/11/Quick-Sample-Appending-URL-data-to-a-Form-post-with-JavaScript/
         * Allows us to add elements to the query string rather than overwriting it when submitting a form
         */

        function getQueryString() {
            var result = {};
            if (!window.location.search.length) return result;
            var qs = window.location.search.slice(1);
            var parts = qs.split("&");
            for (var i = 0, len = parts.length; i < len; i++) {
                var tokens = parts[i].split("=");
                result[tokens[0]] = decodeURIComponent(tokens[1]);
            }
            return result;
        }

        $(document).ready(function () {
            $(".filterform").submit(function (e) {
                var qs = getQueryString();
                for (var key in qs) {
                    var field = $(document.createElement("input"));
                    field.attr("name", key).attr("type", "hidden");
                    field.val(qs[key]);

                    // Check that the key doesn't already exist in the form before adding it. Otherwise we'll get duplicates!
                    // Therefore the form data should always have precedence over existing elements in the query string.
                    if (!$("select[name=" + key + "]").val()) {
                        $(this).append(field);
                    }
                }
            });
        });

        /**
         * End code excerpt
         */


    </script>

{% endblock %}