{% extends 'base.html' %}

{% block title %}Check astrometry{% endblock %}

{% block content %}

    <h1>Check astrometry output</h1>

    {% load staticfiles %}

    {% if file.process_status != 'FAILED' %}

    <a href="{{ ASTROMETRY_URL }}/{{ file.id }}/in-objs.jpg" target="_blank"><img src="{{ ASTROMETRY_URL }}/{{ file.id }}/in-objs.jpg" width="800px"><a/>

    <br />
    <br />

    <form action="{% url 'process_astrometry' file.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="hidden" name="correct" value="true">
    <input type="submit" value="Astrometry has correctly identified objects" class="btn btn-success">
    </form>
    <br />

    {% endif %}
    <form action="{% url 'process_astrometry' file.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="hidden" name="correct" value="false">
    <input type="submit" value="Astrometry has incorrectly or not identified objects" class="btn btn-danger">
    </form>

{% endblock %}