{% extends 'base.html' %}

{% block title %}Plot a lightcurve{% endblock %}

{% block content %}

    <h1>Lightcurve Plot - Choose a star</h1>

    <p>The following stars have been detected based on the co-ordinates that you entered ({{ ra }}, {{ dec }}).</p>

    <table>
        <tr><th>HOYS-CAPS Name</th><th>Offset from your co-ordinates (arcsec)</th></tr>
    {% for star in stars %}
        <tr><td><a href="{% url 'lightcurve' %}?star=true&ra={{ star.ra }}&dec={{ star.de }}">{{ star.name }}</a></td><td>{{ star.offset_arcsec }}</td></tr>
    {% endfor %}
    </table>

{% endblock %}