{% extends 'base.html' %}

{% block title %}Add or modify a device{% endblock %}

{% block content %}

    <h1>Add or modify an imaging device</h1>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p class="error">
                    <strong>{{ error|escape }}</strong>
                </p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p class="error">
                <strong>{{ error|escape }}</strong>
            </p>
        {% endfor %}
    {% endif %}

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form action="{% url 'modify_device' device.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

{% endblock %}
