{% extends 'base.html' %}

{% block title %}Process Files{% endblock %}

{% block content %}

    <h1>Check headers</h1>

    {% if unprocessed|length > 0 %}
        <ul>
        {% for u in unprocessed %}
            <li>{{ u.filename }} <a class="btn btn-primary" href="{% url 'process_header' u.uuid %}">Check header</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You currently have no files that need to have their headers checked.</p>
    {% endif %}

    <h1>Processing files</h1>

    {% if files|length > 0 %}
        <ul>
        {% for f in files %}
            <li>[{{f.id }}] {{ f.fits_filename }}
                <a class="btn btn-primary" {% if f.process_status != 'HEADER' %} disabled="true" {% else %} href="{% url 'process_observation' %}?file_id={{ f.id }}" onclick="loading()" {% endif %}>Observation target</a>
                <a class="btn btn-primary" {% if f.process_status != 'OBSERVATION' %} disabled="true" {% else %} href="{% url 'process_astrometry' %}?file_id={{ f.id }}" onclick="loading()" {% endif %}>Astrometry</a>
                <a class="btn btn-primary" {% if f.process_status != 'ASTROMETRY' %} disabled="true" {% else %} href="{% url 'process_photometry' %}?file_id={{ f.id }}" onclick="loading()" {% endif %}>Photometry</a>
                <a class="btn btn-primary" {% if f.process_status != 'PHOTOMETRY' %} disabled="true" {% else %} href="{% url 'process_calibration' %}?file_id={{ f.id }}" onclick="loading()" {% endif %}>Calibration</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You currently have no files that need furthur processing.</p>
    {% endif %}


    <div class="modal fade" id="processing" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Your request is currently being processed...</h4>
        </div>
        <div class="modal-body">
          <p>Please do not close your browser during the time it takes for your request to be completed.</p>
        </div>
      </div>

    </div>
  </div>



    <script>


    function loading() {
        // Disable all buttons when we're running a request for another file
        $('#processing').modal('show')
    }

    </script>


{% endblock %}