{% extends 'base.html' %}

{% block title %}Plot a lightcurve{% endblock %}

{% block content %}

    {% load staticfiles %}

    <div class="modal" tabindex="-1" role="dialog" id="genmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Generating Lightcurve...</p>
                </div>
            </div>
        </div>
    </div>

    <h1>Lightcurve Plot - Experimental Feature</h1>

    <div id="plot">{{ plot|safe }}</div>

    <br />
    <form>
        <div class="form-row">
            {% for filter in filters %}
                <div class="col-sm-2">
                    <input class="form-control form-control-sm" name="offset-{{ filter }}"
                           placeholder="Offset for {{ filter }}" {% for f, o in filters_and_offsets.items %}{% if f == filter %}value="{{ o }}"{% endif %}{% endfor %}>
                </div>
            {% endfor %}
            <div class="col-sm-2">
                <input id="errorbars" class="form-check-input" name="errorbars" type="checkbox" {% if errorbars %}checked{% endif %}> <label
                    for="errorbars" class="form-check-label">Enable error bars</label>
            </div>
            <div class="col-sm-2">
                <button type="button" id="update" class="btn btn-default">Update graph</button>
            </div>
        </div>
    </form>
    <br />
    <br />
    <br />
    <br />
    <a href="{% url 'lightcurve_download' %}?ra={{ ra }}&dec={{ dec }}" class="btn btn-default">Download data used to make this lightcurve</a>

    <script type="application/javascript">
        /**
         * Update lightcurve based on form input
         */
        $("#update").click(function () {
            $('#genmodal').modal('show');
            offsets = [];

            $("[name*='offset-']").each(function () {
                if ($(this).val()) {
                    offsets.push({'name': $(this).attr('name'), 'value': $(this).val()});
                }
            });

            var url = "?star=true&ra={{ ra }}&dec={{ dec }}";

            for (var j = 0; j < offsets.length; j++) {
                url = url + "&offset=" + offsets[j]['name'].replace('offset-', '') + ":" + offsets[j]['value'];
            }
            if($('#errorbars').is(":checked")) {
                url = url + "&errorbars=true";
            } else {
                url = url + "&errorbars=false";
            }

            window.location.href = encodeURI('{% url 'lightcurve' %}' + url);
        });

    </script>

{% endblock %}