{% extends 'base.html' %}

{% block title %}Process Files{% endblock %}

{% block content %}

    <h1>Processing files</h1>

    {% if files|length > 0 %}
        <table class="table table-striped">
        {% for f in files %}
            {% if f.process_status != 'FAILED' and f.process_status != 'FAILED_USER' %}
            <tr><td>[{{f.id }}] {{ f.fits_filename }}</td>
                <td><a class="btn btn-primary" {% if f.process_status != 'UPLOADED' and f.process_status != 'DEVICESETUP' %} disabled="true" {% else %} href="{% url 'process_observation' f.id %}" onclick="loading()" {% endif %}>Observation target</a></td>
                <td><a class="btn btn-primary" {% if f.process_status != 'OBSERVATION' %} disabled="true" {% else %} href="{% url 'process-metadata' f.id %}" onclick="loading()" {% endif %}>Metadata</a></td>
                <td><a class="btn btn-primary" {% if f.process_status != 'METADATA' and f.process_status != 'CHECK_ASTROMETRY' %} disabled="true" {% else %} href="{% url 'process_astrometry' f.id %}" onclick="loading()" {% endif %}>Astrometry</a></td>
                <td><a class="btn btn-primary" {% if f.process_status != 'ASTROMETRY' and f.process_status != 'CHECK_PHOTOMETRY' %} disabled="true" {% else %} href="{% url 'process_photometry' f.id %}" onclick="loading()" {% endif %}>Photometry</a></td>
                <td><a class="btn btn-primary" {% if f.process_status != 'PHOTOMETRY' and f.process_status != 'CHECK_CALIBRATION' %} disabled="true" {% else %} href="{% url 'process_calibration' f.id %}" onclick="loading()" {% endif %}>Calibration</a></td></tr>
            {% endif %}
        {% endfor %}
        </table>
    {% else %}
        <p>You currently have no files that need further processing.</p>
    {% endif %}


    <div class="modal fade" id="processing" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Your request is currently being processed...</h4>
        </div>
        <div class="modal-body">
          <p>Please do not close your browser during the time it takes for your request to be completed.</p>
        </div>
      </div>

    </div>
  </div>

    <script>


    function loading() {
        // Disable all buttons when we're running a request for another file
        $('#processing').modal('show');
    }
    </script>


{% endblock %}