{% extends 'base.html' %}

{% block title %}Plot a lightcurve{% endblock %}

{% block content %}

    <h1>Lightcurve Plot - Choose a star</h1>

    <p>The following stars have been detected based on the co-ordinates that you entered ({{ ra }}, {{ dec }}).</p>

    <table class="table table-striped">
        <tr>
            <th>HOYS-CAPS Name</th>
        </tr>
        {% for choice in user_choices %}
            <tr>
                <td><a href="{% url 'lightcurve' %}?plot=1&choice={{ choice }}">{{ choice }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}