{% extends 'base.html' %}

{% block title %}Add an object{% endblock %}

{% block content %}

    <h1>Add or edit an object</h1>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p class="error">
                    <strong>{{ error|escape }}</strong>
                </p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p class="error">
                <strong>{{ error|escape }}</strong>
            </p>
        {% endfor %}
    {% endif %}

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{% url 'modify_object' object.number %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <p>Please choose catalog files appropriate to this object. You must choose at least one.</p>
        <p>Note: If you are editing an object, any files you add here will overwrite existing ones.</p>
        <p>The following catalog files have already been uploaded: {{ files|join:', ' }}</p>
        <label for="cf_CV">Choose a clear catalog file (CV)</label>
        <input type="file" class="btn btn-default btn-file" name="cf_CV">

        <label for="cf_U">Choose an ultraviolet catalog file (U)</label>
        <input type="file" class="btn btn-default btn-file" name="cf_U">

        <label for="cf_B">Choose a blue catalog file (B)</label>
        <input type="file" class="btn btn-default btn-file" name="cf_B">

        <label for="cf_V">Choose a visual catalog file (V)</label>
        <input type="file" class="btn btn-default btn-file" name="cf_V">

        <label for="cf_R">Choose a red catalog file (R)</label>
        <input type="file" class="btn btn-default btn-file" name="cf_R">

        <label for="cf_I">Choose an infrared catalog file (I)</label>
        <input type="file" class="btn btn-default btn-file" name="cf_I">

        <label for="cf_SZ">Choose a Sloan Z catalog file (SZ)</label>
        <input type="file" class="btn btn-default btn-file" name="cf_SZ">
        <br />
        <input type="submit" value="Add object to database" class="btn btn-success">

    </form>

{% endblock %}
