{% extends 'base.html' %}

{% block title %}Check calibration{% endblock %}

{% block content %}

    <h1>Check calibration output for {{ file.fits_filename }}</h1>

    {% load staticfiles %}

    <img src="{{ PLOTS_URL }}/{{ file.id }}/calibrationb_{{ file.fits_filename }}.png" width="800px">

    <form action="{% url 'process_calibration' %}?file_id={{ file.id }}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="hidden" name="correct" value="true">
    <input type="submit" value="Calibration graphs appear correct" class="btn btn-primary">
    </form>
    <br />
    <form action="{% url 'process_calibration' %}?file_id={{ file.id }}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="hidden" name="incorrect" value="true">
    <input type="submit" value="Calibration graphs appear incorrect/do not exist" class="btn btn-danger">
    </form>

{% endblock %}