{% extends 'base.html' %}

{% block content %}

    <h1>Check headers</h1>


    <h1>Processing files</h1>




    <script>

    function getCurrentStatus(file_id) {
        var theurl = "{% url 'process_status' 0 %}".replace("0", file_id);
        $.ajax({

            // The URL for the request
            url: theurl,


            // Whether this is a POST or GET request
            type: "GET",

            // The type of data we expect back
            dataType : "json",
        })
        // Code to run if the request succeeds (is done);
        // The response is passed to the function
        .done(function( json ) {
            return json;
        })

    }

    console.log(getCurrentStatus(11));

    </script>


{% endblock %}