{% extends 'base.html' %}

{% block title %}Plot a lightcurve{% endblock %}

{% block content %}

    {% load staticfiles %}

    <div class="modal" tabindex="-1" role="dialog" id="genmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Generating Lightcurve...</p>
                </div>
            </div>
        </div>
    </div>

    <h1>Lightcurve Plot - Experimental Feature</h1>

    <div id="plot">{{ plot|safe }}</div>

    {% for filter in filters %}
        <input name="offset-{{ filter.0 }}"> <label for="offset-{{ filter.0 }}">Offset for {{ filter.0 }}</label>
    {% endfor %}

    <label for="xlim-low">x-axis limit (low)</label><input id="xlim-low" name="xlim-low">
    <label for="xlim-high">x-axis limit (high)</label><input id="xlim-high" name="xlim-high">
    <label for="ylim-low">y-axis limit (low)</label><input id="ylim-low" name="ylim-low">
    <label for="ylim-high">y-axis limit (high)</label><input id="ylim-high" name="ylim-high">

    <button type="button" id="update" class="btn btn-default">Update filter, offset and limit selection</button> <br />

    <a href="{% url 'lightcurve_download' %}?ra={{ ra }}&dec={{ dec }}" class="btn btn-default">Download data used to make this lightcurve</a>

    <script type="application/javascript">
        /**
         * Load in our lightcurve based on the form input
         */
        $("#update").click(function () {
            $('#genmodal').modal('show');
            offsets = [];

            $("[name*='offset-']").each(function () {
                if ($(this).val()) {
                    offsets.push({'name': $(this).attr('name'), 'value': $(this).val()});
                }
            });

            var url = "?star=true&ra={{ ra }}&dec={{ dec }}";

            for (var j = 0; j < offsets.length; j++) {
                url = url + "&offset=" + offsets[j]['name'].replace('offset-', '') + ":" + offsets[j]['value'];
            }

            url = url + ($("#xlim-low").val() ? "&xlim-low=" + $("#xlim-low").val() : "") + ($("#xlim-high").val() ? "&xlim-high=" + $("#xlim-high").val() : "") + ($("#ylim-low").val() ? "&ylim-low=" + $("#ylim-low").val() : "") + ($("#ylim-high").val() ? "&ylim-high=" + $("#ylim-high").val() : "");

            window.location.href = encodeURI('{% url 'lightcurve' %}' + url);
        });

    </script>

{% endblock %}